:root {
	--color-scale-gray-1: #f6f8fa;
	--color-scale-gray-2: #e1e4e8;
	--color-scale-gray-3: #d1d5da;
	--color-scale-gray-4: #959da5;
	--color-scale-gray-5: #6a737d;
	--color-scale-gray-6: #586069;

	--color-text-primary: #24292e;
	--color-text-secondary: #586069;
	--color-text-tertiary: #6a737d;
	--color-text-link: #0366d6;
	--color-text-white: #fff;

	--color-border-primary: #e1e4e8;
	--color-border-secondary: #eaecef;
	--color-border-tertiary: #d1d5da;

	--color-bg-primary: #fff;
	--color-bg-tertiary: #f6f8fa;
	--color-bg-canvas: #fff;
	--color-bg-overlay: #fff;

	--color-input-bg: #fff;
	--color-input-border: #e1e4e8;

	--color-btn-text: #24292e;
	--color-btn-bg: #fafbfc;
	--color-btn-border: rgba(27, 31, 35, 0.15);
	--color-btn-hover-border: #f3f4f6;
	--color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
	--color-btn-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
	--color-btn-primary-text: #fff;
	--color-btn-primary-bg: #2ea44f;
	--color-btn-primary-hover-bg: #2c974b;
	--color-btn-primary-border: rgba(27, 31, 35, 0.15);
	--color-btn-primary-shadow: 0 1px 0 rgba(27, 31, 35, 0.1);
	--color-btn-primary-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
	--color-btn-primary-icon: hsla(0, 0%, 100%, 0.8);

	--color-state-focus-border: #0366d6;
	--color-state-focus-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);

	--color-alert-error-bg: #ffe3e6;
	--color-alert-error-border: rgba(158, 28, 35, 0.2);
	--color-alert-error-icon: rgba(158, 28, 35, 0.6);

	--color-header-bg: #24292e;
	--color-header-search-bg: #24292e;
	--color-header-search-border: #444d56;
	--color-header-logo: #fff;

	--color-counter-text: #24292e;
	--color-counter-bg: rgba(209, 213, 218, 0.5);

	--color-icon-tertiary: #959da5;

	--color-repo-language-color-border: rgba(27, 31, 35, 0.1);

	--color-shadow-small: 0 1px 0 rgba(27, 31, 35, 0.04);

	--color-dropdown-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 1.4rem;
	line-height: 1.5;
	color: var(--color-text-primary);
	background-color: var(--color-bg-canvas);
	word-wrap: break-word;
}

a {
	color: var(--color-text-link);
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}

svg {
	fill: var(--color-text-white);
	cursor: pointer;
}

svg:hover {
	fill: var(--color-scale-gray-3);
}

.open {
	display: flex !important;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

/*------- Search Page --------*/

#search-page .header {
	text-align: center;
	padding: 3.2rem 0 2.4rem;
}

#search-page .main {
	text-align: center;
}

.main__container {
	max-width: 34rem;
	margin: 0 auto;
	padding: 0 1.6rem;
}

.main__title {
	font-size: 2.4rem;
	font-weight: 300;
	letter-spacing: -0.5px;
	margin-bottom: 1.5rem;
	color: var(--color-text-primary);
}

.error {
	display: none;
}

.error__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 2rem;
	margin: 0 auto 1.5rem;
	font-size: 1.3rem;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
	background-image: linear-gradient(
		var(--color-alert-error-bg),
		var(--color-alert-error-bg)
	);
	border-color: var(--color-alert-error-border);
}

.error__message {
	padding-left: 0.8rem;
}

.error__button {
	padding-right: 0.8rem;
	cursor: pointer;
	background: none;
	border: 0;
}

.error__button--close {
	font-size: 1.6rem;
	color: var(--color-alert-error-icon);
}

.form {
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--color-border-secondary);
	border-radius: 6px;
	padding: 20px;
	font-size: 14px;
	background-color: var(--color-bg-tertiary);
	border: 1px solid var(--color-border-secondary);
}

.form__label {
	margin-bottom: 7px;
	font-weight: 400;
	text-align: left;
}

input {
	padding: 5px 12px;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-text-primary);
	vertical-align: middle;
	background-color: var(--color-input-bg);
	border: 1px solid var(--color-input-border);
	border-radius: 6px;
}

input:focus {
	border-color: var(--color-state-focus-border);
	outline: none;
	box-shadow: var(--color-state-focus-shadow);
}

.form__btn {
	margin-top: 20px;
	color: var(--color-btn-primary-text) !important;
	background-color: var(--color-btn-primary-bg) !important;
	border-color: var(--color-btn-primary-border);
	box-shadow: var(--color-btn-primary-shadow),
		var(--color-btn-primary-inset-shadow);
}
.form__btn:active,
.form__btn:focus,
.form__btn:hover {
	background-color: var(--color-btn-primary-hover-bg) !important;
}

.btn {
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	color: var(--color-btn-text);
	background-color: var(--color-btn-bg);
	box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
	border: 1px solid var(--color-btn-border);
	border-radius: 6px;
	transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	transition-property: color, background-color, border-color;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn:hover {
	background-color: var(--color-btn-hover-border);
}

.btn-sm {
	padding: 3px 12px;
	font-size: 12px;
	line-height: 20px;
}

.footer {
	margin-top: 8rem;
	font-size: 1.2rem;
}

.footer__container {
	display: flex;
	justify-content: center;
}

.footer__link {
	color: var(--color-text-secondary);
}

.footer__link:hover {
	color: var(--color-text-link);
}

/*------- Profile Page --------*/

#profile-page .header {
	background-color: var(--color-header-bg);
	padding: 1.6rem;
}
.navbar {
	display: flex;
	flex-direction: column;
}

.navbar__container {
	display: grid;
	align-items: center;
	width: 100%;

	grid-template-areas:
		'dash icon not'
		'nav  nav nav';
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
}

.hamburger {
	grid-area: dash;
}

.logo {
	grid-area: icon;
	text-align: center;
}

.search-area {
	grid-area: nav;
}

.notifications {
	grid-area: not;
	text-align: end;
}

.dropdown-repo,
.dropdown-user {
	display: none;
}

.search-area {
	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 1.6rem;
	transition: 0.5s ease-in-out;
}

.navbar__search {
	width: 272px;
	max-width: 100%;
	transition: 0.2s ease-in-out;
	transition-property: max-width, padding-bottom, padding-top;
	margin-bottom: 1.6rem;
}

.navbar__inputWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 28px;
	width: 100%;
	max-width: 100%;
	font-size: inherit;
	font-weight: 400;
	color: var(--color-text-white);
	vertical-align: middle;
	background-color: var(--color-header-search-bg);
	border: 1px solid var(--color-header-search-border);
	box-shadow: none;
	border-radius: 6px;
	outline: none;
}

.navbar__inputWrapper:focus {
	background-color: hsla(0, 0%, 100%, 0.175);
	box-shadow: none;
	border-color: var(--color-state-focus-border);
	outline: none;
}

.navbar__search input {
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 0;
}

.navbar__input {
	display: table-cell;
	width: 100%;
	padding: 0 12px 0;
}

.focused {
	max-width: 768px;
	width: 100%;
	background-color: var(--color-btn-bg);
}

.navbar__input::placeholder {
	color: var(--color-scale-gray-3);
	opacity: 1; /* Firefox */
}

.navbar__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-scale-gray-3);
}

.navbar__input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--color-scale-gray-3);
}

.navbar__input .input-focused::placeholder {
	color: var(--color-scale-gray-6);
}

.key-slash {
	margin-right: 0.8rem;
	border-style: none;
}

.navbar__item button {
	padding: 0;
	border: 0;
	background-color: var(--color-header-bg);
}

.dropdown-repo,
.dropdown-user {
	position: relative;
}

.navbar__base {
	display: flex;
	flex-direction: column;
}

.navbar__base-link {
	display: flex;
	align-items: center;
	font-weight: 600;
	color: var(--color-text-white);
	white-space: nowrap;
	padding: 0.8rem 0;
	border-top: 1px solid var(--color-border-primary);
	border-color: var(--color-header-search-border);
}

.navbar__base-link:hover {
	text-decoration: none;
	color: var(--color-scale-gray-3);
}

.avatar,
.sign-out-icon {
	margin-right: 0.5rem;
}

.avatar {
	display: inline-block;
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
	border-radius: 6px;
	flex-shrink: 0;
}

.avatar__img {
	border-radius: 50%;
}

.profile__img {
	border-radius: 50%;
	height: auto;
}

/*** Icons ***/

.icon {
	display: inline-block;
	overflow: visible;
	vertical-align: text-bottom;
}

.clear-icon {
	width: 18px;
	height: 18px;
	padding: 1px;
	margin-right: 3px;
	color: var(--color-text-white);
	text-align: center;
	background-color: var(--color-icon-tertiary);
	border-radius: 6px;
	margin-top: 4px;
}

.clear-icon:hover {
	fill: var(--color-text-white);
	background-color: var(--color-text-link);
}

.github-icon {
	vertical-align: middle;
}

svg .github-icon:active {
	fill: var(--color-scale-gray-3);
}

.three-bars,
.bell {
	vertical-align: text-bottom;
}

.icon-book,
.icon-repo,
.icon-project,
.icon-package {
	display: none;
}

.icon-mark-github,
.icon-star,
.icon-repo-forked {
	fill: var(--color-text-tertiary);
}

.icon-star,
.icon-repo-forked {
	margin-right: 0.4rem;
}

.icon-star:hover,
.icon-repo-forked:hover {
	fill: var(--color-text-tertiary);
}

.notifications__link {
	position: relative;
}

.mail-status--unread {
	position: absolute;
	top: -6px;
	left: 6px;
	z-index: 2;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	color: var(--color-text-white);
	background-image: linear-gradient(#54a3ff, #006eed);
	background-clip: padding-box;
	border: 2px solid var(--color-header-bg);
	border-radius: 50%;
}

.profile__details {
	padding: 0 0.8rem;
	margin-bottom: 2.4rem;
}

.profile__personalDetails {
	display: flex;
	align-items: center;
	margin-bottom: 2.4rem;
}

.profile__user-status-cover {
	position: relative;
	z-index: 4;
	display: block;
	flex-shrink: 0;
	width: 16.66667%;
	margin-right: 1.6rem;
}

.profile__user-status {
	position: relative;
	display: block;
}

.profile__name {
	width: 100%;
	padding: 1.6rem 0;
	display: flex;
	flex-direction: column;
}

.profile__fullname {
	font-size: 2.6rem;
	line-height: 1.25;
	font-weight: 900;
}

.profile__username {
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	color: var(--color-text-secondary);
}

.profile__status {
	border: 1px solid var(--color-border-primary);
	margin: 0.8rem 0;
	padding: 0.4rem 0.8rem;
	border-radius: 0.6rem;
	cursor: pointer;
	display: flex;
}

.profile__status-emoji {
	margin-right: 0.8rem;
}

.profile__status-emoji .icon,
.profile__status-emoji .g-emoji {
	fill: var(--color-scale-gray-5);
}

.profile__status-emoji .icon:focus,
.profile__status-emoji .icon:hover,
.profile__status-emoji .g-emoji:focus,
.profile__status-emoji .g-emoji:hover {
	fill: var(--color-text-link);
}

.profile__status-msg {
	color: var(--color-text-secondary);
	font-size: 1.2rem;
}

.profile__status-msg:focus,
.profile__status-msg:hover {
	color: var(--color-text-link);
}

.profile__user-bio {
	margin-bottom: 1.6rem;
	font-size: 1.6rem;
}

/*** Repo details ***/

.profile__layout .repo__details {
	padding: 0 0.8rem;
	margin-bottom: 2.4rem;
	flex-shrink: 0;
	width: 100%;
}

.profile__layout .repo__nav {
	display: block;
	justify-content: space-between;
	overflow-x: auto;
	overflow-y: hidden;
	position: sticky;
	z-index: 3;
	top: 0;
	background-color: var(--color-bg-primary);
	border-bottom: 1px solid var(--color-border-tertiary);
	box-shadow: none;
	padding: 0 1.6rem;
	margin: 0 -1.6rem;
}

.repo-nav__body {
	display: flex;
	overflow: auto;
	white-space: nowrap;
}

.repo-nav__item {
	padding: 0.8rem 1.6rem;
	font-size: 1.4rem;
	line-height: 20px;
	color: var(--color-text-primary);
	text-align: center;
	white-space: nowrap;
	background-color: initial;
	border: 0;
	border-bottom: 2px solid transparent;
}

.repo-nav__item:hover {
	cursor: pointer;
	text-decoration: none;
	border-bottom-color: var(--color-border-tertiary);
	outline: 1px dotted transparent;
	outline-offset: -1px;
	transition: border-bottom-color 0.12s ease-out;
}

.repo__user-stickyBar {
	display: none;
}

.tabcontent {
	display: none;
}

#Overview {
	display: block;
}

.selected {
	font-weight: 600;
	color: var(--color-text-primary);
	border-bottom-color: #f9826c;
	outline: 1px dotted transparent;
	outline-offset: -1px;
}

.selected svg {
	fill: var(--color-text-primary);
}

.selected:hover {
	border-bottom-color: #f9826c;
}

.counter {
	display: inline-block;
	min-width: 20px;
	padding: 0 6px;
	margin-left: 4px;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	color: var(--color-counter-text);
	text-align: center;
	background-color: var(--color-counter-bg);
	border: 1px solid transparent;
	border-radius: 2em;
}

.repo-top {
	padding: 1.6rem 0;
	border-color: var(--color-border-secondary);
	border-bottom: 1px solid var(--color-border-primary);
}

.repo-top__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2.4rem;
	color: var(--color-btn-primary-text);
	background-color: var(--color-btn-primary-bg);
	border-color: var(--color-btn-primary-border);
	box-shadow: var(--color-btn-primary-shadow),
		var(--color-btn-primary-inset-shadow);
}

.repo-top__btn:hover {
	background-color: var(--color-btn-primary-hover-bg);
}

.repo-top__icon {
	margin-right: 0.4rem;
	fill: var(--color-btn-primary-icon);
}

.repo-top__search {
	display: flex;
	flex-direction: column;
}

.repo-top__input {
	width: 100%;
}

.repo-top__form {
	margin-bottom: 0.8rem;
}

.repo-top__details {
	display: flex;
	gap: 0.4rem;
}

.dropdown-caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: '';
	border-top-style: solid;
	border-top-width: 4px;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 4px solid transparent;
}

.btn .dropdown-caret {
	margin-left: 4px;
	opacity: 0.8;
}

.repo__filterSummary {
	padding: 1.6rem 0;
	border-color: var(--color-border-secondary);
	border-bottom: 1px solid var(--color-border-primary);
	display: flex;
	justify-content: space-between;
}

.repo__filterClear-link {
	color: var(--color-text-secondary);
	display: inline-block;
	white-space: nowrap;
	font-weight: 400;
	margin-left: 1.6rem;
}
.repo__filterClear-link:hover {
	text-decoration: none;
	color: var(--color-text-link);
}

.repo__filterItem {
	padding: 2.4rem 0;
	border-color: var(--color-border-secondary);
	border-bottom: 1px solid var(--color-border-primary);
	display: flex;
	justify-content: space-between;
}

.repo__title {
	margin-bottom: 0.4rem;
	font-size: 2rem;
	font-weight: 600;
}

.repo__description-cover {
	display: inline-block;
}
.repo__description {
	font-size: 1.4rem;
	padding-right: 2.4rem;
	margin-bottom: 0.8rem;
	color: var(--color-text-secondary);
}

.repo__itemDetails {
	font-size: 1.2rem;
	margin-top: 0.8rem;
	color: var(--color-text-secondary);
}

.repo__itemDetails time {
	margin-left: 0.3rem;
}

.repo__lang-color {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border: 1px solid var(--color-repo-language-color-border);
	border-radius: 50%;
	margin-right: 0.3rem;
}

.repo__lang {
	margin-right: 1.6rem;
}

.repo__rating {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.repo__star-count,
.repo__fork-count {
	cursor: pointer;
	margin-right: 1.6rem;
	color: var(--color-text-secondary);
}

.repo__star-count:hover,
.repo__fork-count:hover {
	text-decoration: none;
	color: var(--color-text-link);
}

.repo__star-count svg:hover,
.repo__fork-count svg:hover {
	fill: var(--color-text-link);
}

#profile-page .footer {
	margin: 5rem 0 1rem;
	padding: 4rem 1.6rem;
	font-size: 1.2rem;
	border-top: 1px solid var(--color-border-primary);
	opacity: 0.25;
	transition: 0.5s;
	/* for other browsers */
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

#profile-page .footer:hover {
	opacity: 0.75;
}

#profile-page .footer a {
	color: var(--color-text-secondary);
}

.footer__container {
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-bottom: 0.8rem;
}

details > summary {
	list-style: none;
}

details summary {
	cursor: pointer;
}
details > summary::-webkit-details-marker {
	display: none;
}

.profile__container {
	display: none;
}

.profile__cover {
	padding: 0 1.6rem;
	max-width: 128rem;
	margin-left: auto;
	margin-right: auto;
}

.profile__layout {
	display: flex;
	flex-direction: column;
	margin: 0 -0.8rem;
}

.profile__status-container {
	display: none;
}

.profile__status-container--nav {
	padding: 0 1.6rem;
}

.footer a svg {
	display: none;
}

#pulls {
	display: none;
}

.navbar__link {
	font-weight: 600;
	color: var(--color-header-logo);
	white-space: nowrap;
}

.details-overlay[open] > summary:before {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	display: block;
	cursor: default;
	content: ' ';
	background: transparent;
}

.details-reset > summary:before {
	display: none;
}

.dropdown-menu-sw {
	right: 0;
	left: auto;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	z-index: 10;
	width: 160px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 2px;
	list-style: none;
	background-color: var(--color-bg-overlay);
	background-clip: padding-box;
	border: 1px solid var(--color-border-primary);
	border-radius: 6px;
	box-shadow: var(--color-dropdown-shadow);
}

.dropdown-item {
	display: block;
	padding: 4px 8px 4px 16px;
	overflow: hidden;
	color: var(--color-text-primary);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dropdown-item:hover {
	text-decoration: none;
	color: var(--color-text-white);
	background-color: var(--color-text-link);
}

.dropdown-menu-sw:before {
	top: -16px;
	right: 9px;
	left: auto;
}

.dropdown-menu-sw:after {
	top: -14px;
	right: 10px;
	left: auto;
}

.dropdown-menu:before {
	border: 8px solid transparent;
	border-bottom: 8px solid var(--color-border-primary);
}

.dropdown-menu:after {
	border: 7px solid transparent;
	border-bottom: 7px solid var(--color-bg-overlay);
}

.dropdown-menu:after,
.dropdown-menu:before {
	position: absolute;
	display: inline-block;
	content: '';
}

.dropdown-divider {
	display: block;
	height: 0;
	margin: 8px 0;
	border-top: 1px solid var(--color-border-primary);
}

.user-profile-link {
	display: block;
	color: var(--color-text-primary);
	padding: 8px 16px;
}

.user-profile-link:hover {
	text-decoration: none;
}

/* ----- MEDIA QUERIES ------ */

@media screen and (min-width: 544px) {
	.icon-book,
	.icon-repo,
	.icon-project,
	.icon-package {
		display: inline-block;
		fill: var(--color-text-tertiary);
		margin-right: 0.4rem;
	}
}

@media screen and (min-width: 768px) {
	#profile-page .header {
		padding: 1.6rem 2.4rem;
	}

	.profile__container {
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 3;
		display: block;
		margin-top: 2.4rem;
		background-color: var(--color-bg-primary);
		border-color: var(--color-border-secondary);
		border-bottom: 1px solid var(--color-border-primary);
	}

	.profile__cover {
		padding: 0 2.4rem;
	}

	.profile__layout {
		flex-direction: row;
	}

	.profile__container .repo__details {
		display: flex;
		flex-direction: row;
		margin-left: -0.8rem;
		margin-right: -0.8rem;
	}

	.profile__personalDetails {
		display: block;
		margin-bottom: 0;
	}

	.profile__user-status-cover {
		width: 100%;
		margin-right: 0;
	}

	.profile__status-container {
		word-wrap: break-word;
		word-break: break-word;
		white-space: normal;
		display: block;
		position: relative;
	}

	.profile__status-container .profile__status {
		position: absolute;
		bottom: 0;
		left: 100%;
		z-index: 2;
		width: 38px;
		height: 38px;
		margin-bottom: 32px;
		margin-left: -40px;
		font-size: 14px;
		background-color: var(--color-bg-primary);
		border: 1px solid var(--color-border-primary);
		border-radius: 2em;
		box-shadow: var(--color-shadow-small);
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 1;
		padding: 1rem;
	}

	.profile__status-container .profile__status:hover {
		width: 10rem;
	}

	.profile__status-container .user-msg {
		display: none;
	}

	.profile__status-container--mobile {
		display: none;
	}

	.profile__img {
		width: auto;
		margin-right: 0;
	}

	details {
		margin-right: 4px;
		margin-top: 4px;
	}

	.profile__layout .repo__nav {
		display: none;
	}

	.repo__user,
	.profile__details {
		padding: 0 0.8rem;
		margin-bottom: 0;
		flex-shrink: 0;
		width: 25%;
	}

	.repo__nav {
		padding: 0 0.8rem;
		margin-bottom: 0;
		flex-shrink: 0;
		width: 75%;
	}

	.profile__layout .repo__details {
		padding: 0 0.8rem;
		margin-bottom: 0;
		flex-shrink: 0;
		width: 75%;
	}

	.profile__userDetails {
		margin-top: -3.2rem;
	}

	.repo__user-stickyBar {
		display: block;
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		transition: 0.2s;
		width: 233px;
		word-break: break-all;
		z-index: 90;
	}

	.repo__user-vCard {
		height: 54px;
		position: relative;
		top: 1px;
		z-index: 110;
		display: table;
	}

	.repo__img {
		display: table-cell;
		line-height: 1;
		padding-right: 8px;
		vertical-align: middle;
	}

	.repo__username {
		display: table-cell;
		line-height: 1;
		vertical-align: middle;
	}

	.repo-nav__item {
		line-height: 30px;
	}

	.repo-top {
		display: flex;
		align-items: flex-start;
	}

	.repo-top__btn {
		order: 2;
		width: auto;
		margin-left: 1.6rem;
	}

	.repo-top__form {
		margin-right: 1.6rem;
		margin-bottom: 0;
	}

	.repo-top__search {
		order: 1;
		flex: auto;
	}

	.icon-book,
	.icon-repo,
	.icon-project,
	.icon-package {
		display: inline-block;
		fill: var(--color-text-tertiary);
		margin-right: 0.4rem;
	}

	#profile-page .footer {
		margin: 1rem 0;
	}

	/* NAV	 */
	.dropdown-repo,
	.dropdown-user {
		display: block;
	}

	.navbar__item {
		margin-right: 16px;
		align-self: stretch;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}

	.navbar__container {
		display: grid;
		align-items: center;
		width: 100%;
		grid-template-areas: 'icon nav not repo user';
		grid-template-columns: auto 1fr auto auto auto;
	}

	.logo {
		grid-area: icon;
	}

	.search-area {
		grid-area: nav;
	}

	.notifications {
		grid-area: not;
	}

	.dropdown-repo {
		grid-area: repo;
	}

	.dropdown-user {
		grid-area: user;
		margin-right: 0;
	}

	.hamburger {
		display: none;
	}
	.search-area {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		align-items: center;
		margin-top: 0;
	}

	.navbar__base-link {
		padding: 0;
	}

	.navbar__base {
		flex-direction: row;
		gap: 1.5rem;
	}

	.navbar__base-link {
		border: none;
	}

	#pulls {
		display: block;
	}

	#dashboard,
	#pull-request,
	#codespaces,
	#sponsors,
	#settings,
	#avatar,
	#sign-out {
		display: none;
	}

	.navbar__search {
		margin-bottom: 0;
	}

	.avatar {
		margin-right: 0;
	}
}

@media screen and (min-width: 1012px) {
	#profile-page .header {
		padding: 1.6rem 3.2rem;
	}

	.profile__cover {
		padding: 0 3.2rem;
	}

	.profile__layout .repo__details,
	.profile__details {
		padding: 0 1.6rem;
	}

	.repo-top__search {
		flex-direction: row;
	}

	.repo-top__form {
		width: 100%;
	}

	.repo-top__btn {
		margin-bottom: 0;
	}

	#profile-page .footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#profile-page .footer__container {
		flex-basis: 42%;
		justify-content: space-between;
		align-items: center;
	}

	#profile-page .footer a svg {
		display: block;
		flex-basis: 16%;
		margin-bottom: 0.8rem;
	}

	#pulls {
		display: none;
	}

	#pull-request {
		display: block;
	}
}
